<% include('../layouts/Header.ejs') %>

<h1>welcome to the home page, <%= admin.name %></h1>

<a href="/admin/dashboard">Go to Dasboard</a>
<table width="50%">
    <tr>
        <td><img src="/userimages/<%= admin.image %>" width="100px" height="100px" alt="<%= admin.image %>"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><%= admin.email %></td>
    </tr>
    <tr>
        <td>Mobile.no:</td>
        <td><%= admin.mobile %></td>
    </tr>
    <tr>
        <td>Are you varified?</td>
        <td>Yes</td>
    </tr>
    
</table>
<br>

<a href="/admin/logout">Logout</a>
<% include('../layouts/Footer.ejs') %>